<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<string>ffffff</string>
	<key>tabbar_red</key>
	<string>c60c30</string>
	<key>collection_background</key>
	<string>f2f2f2</string>
</dict>
</plist>
