<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>m</key>
		<string>人民币</string>
		<key>c</key>
		<string>中国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>美元</string>
		<key>c</key>
		<string>美国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>韩元</string>
		<key>c</key>
		<string>韩国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>欧元</string>
		<key>c</key>
		<string>欧洲</string>
	</dict>
	<dict>
		<key>m</key>
		<string>英镑</string>
		<key>c</key>
		<string>英国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>日元</string>
		<key>c</key>
		<string>日本</string>
	</dict>
	<dict>
		<key>m</key>
		<string>法国法郎</string>
		<key>c</key>
		<string>法国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>德国马克</string>
		<key>c</key>
		<string>德国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>加拿大元</string>
		<key>c</key>
		<string>加拿大</string>
	</dict>
	<dict>
		<key>m</key>
		<string>澳大利亚元</string>
		<key>c</key>
		<string>澳大利亚</string>
	</dict>
	<dict>
		<key>m</key>
		<string>新台湾币</string>
		<key>c</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>m</key>
		<string>港币</string>
		<key>c</key>
		<string>港币</string>
	</dict>
	<dict>
		<key>m</key>
		<string>意大利亚拉</string>
		<key>c</key>
		<string>意大利亚</string>
	</dict>
	<dict>
		<key>m</key>
		<string>澳门元</string>
		<key>c</key>
		<string>澳门</string>
	</dict>
	<dict>
		<key>m</key>
		<string>新西兰元</string>
		<key>c</key>
		<string>新西兰</string>
	</dict>
	<dict>
		<key>m</key>
		<string>新加坡元</string>
		<key>c</key>
		<string>新加坡</string>
	</dict>
	<dict>
		<key>m</key>
		<string>瑞士法郎</string>
		<key>c</key>
		<string>瑞士</string>
	</dict>
	<dict>
		<key>m</key>
		<string>泰铢</string>
		<key>c</key>
		<string>泰国</string>
	</dict>
	<dict>
		<key>m</key>
		<string>菲律宾比索</string>
		<key>c</key>
		<string>菲律宾</string>
	</dict>
</array>
</plist>
